html,
body {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.btn {
  margin: 1%;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 1%;
}

.card {
  display: inline-block;
  width: 28%;
  min-height: 80vh;
  margin: 1%;
}

.notify-badge {
  position: absolute;
  right: -10px;
  top: 10px;
  background: red;
  text-align: center;
  border-radius: 50px 50px 50px 50px;
  color: white;
  padding: 5px 10px;
  font-size: 3vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.l-wrap {
  max-width: 1000px;
}

.grid-item {
  width: calc((100% - 24px * 2) / 10);
  margin:2% 2% 2% 2%;
  
  float: left;
}


h4{
  text-align: center;

}
